@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.App {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.App-header {
    background-color: #1d1e25;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-footer {
    background-color: #1d1e25;
    color: white;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 0.5em;
}

.App-link {
    color: #527aff;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.large-btn {
    font-size: 24px !important;
    font-family: 'Oswald', sans-serif !important;
}

.multi-button {
    margin: 0.4em !important;
}

.OswaldHeader {
    font-family: 'Oswald', sans-serif !important;
}

.screenshot {
    width: 100%;
}

.instructionCard {
    margin-top: 1em;
    margin-bottom: 1em;
}

.infoPaper {
    margin: 1em;
    padding: 1em;
}

.paperText {
    text-align: left;
    color: #fff;
}

.statusText {
    font-size: 2em;
    font-family: 'Oswald', sans-serif !important;
}

.online {
    color: rgb(0, 223, 0);
}

.offline {
    color: red;
}

.name-card {
    margin: 0.5em !important;
    color: white !important;
}